<nav class="navbar fixed-top navbar-light bg-white navbar-expand-lg my-0 pb-0 " >
    <div class="container  mt-2 mb-0 pb-0">
        <a class="navbar-brand " href="#"> V&F<span><img style="width: 14%; height:14%" src="assets/A2.jpg" alt="logo"></span> <span>The Organic Store</span> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>Menu
        </button>
        <div class="collapse navbar-collapse " >
            <ul class="navbar-nav ml-auto ">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/">Home<span class="sr-only">(current)</span></a>
                </li>
              
                <li class="nav-item dropdown " *ngIf="currentUser">
                    <a class="nav-link menu-item dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Menu</a>      
                    <div class=" dropdown dropdown-menu">
                        <a class="dropdown-item menu-item" routerLink="/products" >Products</a>
                        <a class="dropdown-item"routerLink="/wishlist">Wishlist</a>

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item menu-item"routerLink="/admin" *ngIf="isAdmin">Admin</a>

                    </div>
                </li> 
                <li class="nav-item" *ngIf="currentUser" >
                    <a class="nav-link" routerLink="/blog">Blog</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" routerLink="/about">About</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" routerLink="/contactus">Contact us</a>
              </li>
              <li class="nav-item" *ngIf="currentUser">
                <a class="nav-link" routerLink="/shoppingcart">Cart</a>
          </li>
          <li class="nav-item"  *ngIf="!currentUser" >
            <a class="nav-link" routerLink="/login">Login</a>
      </li>
          <li class="nav-item" *ngIf="currentUser" >
            <a class="nav-link"(click)="logout()" >Logout</a>
      </li>
            </ul>
        </div>
        
    </div>
    

</nav>








