<div class="container-fluid containerA">
    <div class="row about-bg ">
        <div class="text mx-auto my-auto">
            <p style="color: rgb(88, 88, 88);font-family:cursive;font-size:3rem">Blog</p>
        </div>
        
    </div>
    </div>
    
    <div class="container containerB mt-5">
        
        <div class="row post1">
            <div class="col-6 blog-post">
                <div class="blog-img">
                    <img src="assets/image_6.jpg" alt="post1">
                </div>
            </div>
            <div class="col-6 blog-text">
                <span><a style=" padding-right:2%" href="#">July 20, 2019</a></span> 
                <span><a style=" padding:2%" href="#">Admin</a></span>
                <div class="blog-heading">
                    <h1>Salads taste best with organic veggies</h1>
                    <p > The term "organic" refers to the process of how certain foods are produced.

                        Organic foods have been grown or farmed without the use of artificial chemicals, hormones, antibiotics or genetically modified organisms.
                        
                        In order to be labelled organic, a food product must be free of artificial food additives.
                        
                                               
                        Organically grown crops tend to use natural fertilizers like manure to improve plant growth. Animals raised organically are also not given antibiotics or hormones.
                        
                        Organic farming tends to improve soil quality and the conservation of groundwater. It also reduces pollution and may be better for the environment.
                        
                        The most commonly purchased organic foods are fruits, vegetables, grains, dairy products and meat. Nowadays there are also many processed organic products available, such as sodas, cookies and breakfast cereals.</p>
                    <!-- <button class="btn btn-success">Read more</button> -->
                </div>
            </div>
       </div>
        <div class="row post2 mt-5">
            <div class="col-6 blog-post">
                <div class="blog-img">
                    <img src="assets/bg_1.jpg" alt="post1">
                </div>
            </div>
            <div class="col-6 blog-text">
                <span><a style=" padding-right:2%" href="#">July 20, 2019</a></span> 
                <span><a style=" padding:2%" href="#">Admin</a></span>
                <div class="blog-heading">
                    <h1>All at one store!</h1>
                    <p > The term "organic" refers to the process of how certain foods are produced.

                        Organic foods have been grown or farmed without the use of artificial chemicals, hormones, antibiotics or genetically modified organisms.
                        
                        In order to be labelled organic, a food product must be free of artificial food additives.
                        
                                               
                        Organically grown crops tend to use natural fertilizers like manure to improve plant growth. Animals raised organically are also not given antibiotics or hormones.
                        
                        Organic farming tends to improve soil quality and the conservation of groundwater. It also reduces pollution and may be better for the environment.
                        
                        The most commonly purchased organic foods are fruits, vegetables, grains, dairy products and meat. Nowadays there are also many processed organic products available, such as sodas, cookies and breakfast cereals.</p>
                    <!-- <button class="btn btn-success">Read more</button> -->
                </div>
            </div>
        </div>
        <div class="row post3 mt-5">
            <div class="col-6 blog-post">
                <div class="blog-img">
                    <img src="assets/juice4.jpg" alt="post1">
                </div>
            </div>
            <div class="col-6 blog-text">
                <span><a style=" padding-right:2%" href="#">July 20, 2019</a></span> 
                <span><a style=" padding:2%" href="#">Admin</a></span>
                <div class="blog-heading">
                    <h1>Summer Special: 100% fresh fruit juices</h1>
                    <p > The term "organic" refers to the process of how certain foods are produced.

                        Organic foods have been grown or farmed without the use of artificial chemicals, hormones, antibiotics or genetically modified organisms.
                        
                        In order to be labelled organic, a food product must be free of artificial food additives.
                        
                                               
                        Organically grown crops tend to use natural fertilizers like manure to improve plant growth. Animals raised organically are also not given antibiotics or hormones.
                        
                        Organic farming tends to improve soil quality and the conservation of groundwater. It also reduces pollution and may be better for the environment.
                        
                        The most commonly purchased organic foods are fruits, vegetables, grains, dairy products and meat. Nowadays there are also many processed organic products available, such as sodas, cookies and breakfast cereals.</p>
                    <!-- <button class="btn btn-success">Read more</button> -->
                </div>
            </div>
        </div>
        <div class="row post4 mt-5">
            <div class="col-6 blog-post">
                <div class="blog-img">
                    <img src="assets/A4.jpg" alt="post1">
                </div>
            </div>
            <div class="col-6 blog-text">
                <span><a style=" padding-right:2%" href="#">July 20, 2019</a></span> 
                <span><a style=" padding:2%" href="#">Admin</a></span>
                <div class="blog-heading">
                    <h1>Nuts N Nuts... All variety of nuts</h1>
                    <p > The term "organic" refers to the process of how certain foods are produced.

                        Organic foods have been grown or farmed without the use of artificial chemicals, hormones, antibiotics or genetically modified organisms.
                        
                        In order to be labelled organic, a food product must be free of artificial food additives.
                        
                                               
                        Organically grown crops tend to use natural fertilizers like manure to improve plant growth. Animals raised organically are also not given antibiotics or hormones.
                        
                        Organic farming tends to improve soil quality and the conservation of groundwater. It also reduces pollution and may be better for the environment.
                        
                        The most commonly purchased organic foods are fruits, vegetables, grains, dairy products and meat. Nowadays there are also many processed organic products available, such as sodas, cookies and breakfast cereals.</p>
                    <!-- <button class="btn btn-success">Read more</button> -->
                </div>
            </div>
        </div>
    </div>