<div class="container-fluid containerA">
<div class="row about-bg ">
    <div class="text mx-auto my-auto">
        <p style="color: white;font-family:cursive;font-size:3rem">About Us</p>
    </div>
    
</div>
</div>
<div class="container containerB mt-5">
<div class="row">
    <div class="col-md-4 about-video mx-auto my-auto">
        <a href="https://www.youtube.com/watch?v=WhOrIUlrnPo"> <i class="fas fa-play-circle fa-5x" style="color: rgb(107, 207, 107);"></i></a>
    </div>
    <div class="col-md-6">
        <div class="about-content mt-3 pt-3">
            <h1 style="color: rgb(90, 212, 90);font-family:cursive">ABOUT US</h1>
            <p>
                V&F store was started with the mission to make a positive and progressive difference to the world we live in. Locally sourced and organically grown produce benefit individuals and communities. And these not only improve a person’s general well being but also bring in socio-economic benefits working its way up from the grassroots level.

The company was launched in 2019 to give customers the most remarkable organic shopping experience for all your daily needs from beans to brocolli and from fruit juice to veg juice. Innovation has always been the companion of all our ventures and we see no reason to make an exception at V&F.

Like our commodities, our business principles are clean and simple. We are committed to offering our customers a convenient and affordable service, healthy food choices and socially responsible business practices rooted in local communities, while contributing to a greener, cleaner environment.
            </p>
        </div>
    </div>

</div>
</div>
<div class="container-fluid containerC mt-5 mx-auto">
    <div class="row ">
        <div class="col-md-3 mx-auto my-auto p-3">
            <h1 [countUp]="endVal1"  >0</h1>
            <p>Branches</p>
        </div>

        <div class="col-md-3 mx-auto my-auto p-3">
            <h1 [countUp]="endVal2"  >0</h1>
            <p>Awards</p>
        </div>
               
      
        
        <div class="col-md-3 mx-auto my-auto p-3">
            <h1 [countUp]="endVal3"  >0</h1>
            <p>Partners</p>
        </div>
        <div class="col-md-3 mx-auto my-auto p-3">
            <h1 [countUp]="endVal4"  >0</h1>
            <p>Happy Customers</p>
        </div>
    </div>

</div>